<div class="background">
  <app-menu></app-menu>
  <mat-card class="card">
    <section>
      <div class="button-row">
        <button mat-raised-button color="primary" (click)="create()"
                [disabled]="userAuthorization.hasAuthorizationType(userAuthorization.admin) ||
                 userAuthorization.hasAuthorizationType(userAuthorization.finisher)">
          Novo
        </button>
      </div>
    </section>
    <br>
    <div class="ui-100">
      <div class="ui-33">
        <mat-label>Pendentes</mat-label>
        <br>
      </div>
      <div class="ui-33">
        <mat-label>Em Andamento</mat-label>
      </div>
      <div class="ui-33">
        <mat-label>Finalizados</mat-label>
      </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <div class="ui-100">
      <div class="ui-33">
        <div *ngFor="let process of pending">
          <mat-card class="card-process">
            <mat-label>{{process.name.length > 35 ? process.name.substring(0, 35) + '...' : process.name}}</mat-label>
            <button mat-button>
              <mat-icon class="mr-1" title="Editar" (click)="detail(process.id)">view_headline</mat-icon>
            </button>
            <mat-divider></mat-divider>
            <br><br>
            <mat-label>{{process.description.length > 70 ? process.description.substring(0, 70) + '...' : process.description}}</mat-label>
          </mat-card>
          <br>
        </div>
        &nbsp;
      </div>
      <div class="ui-33">
        <div *ngFor="let process of inProgress">
          <mat-card class="card-process">
            <mat-label>Processo: {{process.name}}</mat-label>
            <button mat-button>
              <mat-icon class="mr-1" title="Editar" (click)="detail(process.id)">view_headline</mat-icon>
            </button>
            <mat-divider></mat-divider>
            <br><br>
            <mat-label>{{process.description}}</mat-label>
          </mat-card>
          <br>
        </div>
        &nbsp;
      </div>
      <div class="ui-33">
        <div *ngFor="let process of finished">
          <mat-card class="card-process">
            <mat-label>Processo: {{process.name}}</mat-label>
            <button mat-button>
              <mat-icon class="mr-1" title="Editar" (click)="detail(process.id)">view_headline</mat-icon>
            </button>
            <mat-divider></mat-divider>
            <br><br>
            <mat-label>{{process.description}}</mat-label>
          </mat-card>
          <br>
        </div>
      </div>
    </div>
  </mat-card>
</div>
